<link rel="stylesheet" href="./css/style.css">
<link rel="stylesheet" href="./css/output.css">
<div class="slide contact relative w-screen h-screen bg-zinc-700 overflow-auto">
    <div class="pt-8 text-center text-white">
        <h4 class="bg-blue-500 py-2 px-4 w-36 mx-auto shadow">CONTACT ME</h4>
        <h3 class="text-2xl">GET <span class="text-blue-500 font-black">IN TOUCH</span></h3>
    </div>
    <section class="mt-10 mx-auto w-1/2 bg-gray-300 rounded">
        <form action="" class="grid place-items-center">
            <div class="mt-6 flex w-5/6 gap-3">
                <input type="text" id="name" placeholder="Name" class="w-full" required>
                <input type="email" id="email" placeholder="Email" class="w-full" required>
            </div>
            <div class="flex w-5/6 gap-3">
                <input type="text" id="phone" placeholder="Phone number" class="w-full" required>
                <input type="text" id="subject" placeholder="Subject" class="w-full">
            </div>
            <textarea name="message" id="message" rows="4" placeholder="Message..." class="w-5/6"></textarea>
            <button class="text-blue-500 border border-blue-500 rounded-xl px-6 py-2 mt-3 mb-3
            hover:text-white hover:bg-blue-500" type="submit">Send</button>
        </form>
    </section>
</div>